@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Prompt:wght@300;400;600;700&display=swap');


*{
    font-family: "Poppins", system-ui;
    font-family: "Prompt", sans-serif;
}

.cattt {
    margin-bottom: 10px;
}

.cattt h5 {
    margin-top: 20px;
    font-weight: 600;
    font-size: 50px;
    font-family: "Poppins", system-ui;
}

.bloggg h5 {
    margin-top: 10px;
    font-weight: 600;
    font-size: 50px;
    font-family: "Poppins", system-ui;
}

@media only screen and (max-width: 2000px) {
    .sd {
        border-radius: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 300px;
        height: 48px;
        box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
        background-color: #F0A04B;
    
    }
}

.sd a {
    font-size: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
}

.boxcard {
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
    margin-bottom: 30px;
    border: 2px solid #000;
    background-color: #FAF7F0;
   
}



.singuppp a {
    text-decoration: none;
}

.heal h5 {
    font-size: 40px;
}

.btnone{
    -webkit-transform-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.btnone:hover, .btnone:focus, .btnone:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}